

  <div class="product_left_cta">
    <a href="{{ product.metafields.custom_fields.left_cta_url }}" target="_blank">
  <div class="icon-section" style="margin-right:1%;">
<div class="icon-section-sub">
    <img
      class="icon-cta"
      src="{{ product.metafields.custom_fields.left_cta_icon }}"
    />
    <p class="icon-text">
      {{ product.metafields.custom_fields.left_cta_under_icon_text }}
  </p></div> </div></a>
    <a href="{{ product.metafields.custom_fields.left_cta_url_2 }}" target="_blank">
    <div class="icon-section" style="margin-left:1%;">
<div class="icon-section-sub">  <img
      class="icon-cta"
      src="{{ product.metafields.custom_fields.left_cta_icon_2 }}"
    />
    <p class="icon-text">
      {{ product.metafields.custom_fields.left_cta_under_icon_text_2 }}
  </p>
      </div>  </div></a>
</div>
  <div class="content-section">
    <p class="headline">
      {{ product.metafields.custom_fields.left_cta_headline }}
    </p>
    <p class="content">
      {{ product.metafields.custom_fields.left_cta_content }}
    </p>
  </div>