{%- include 'style_mp_section' -%}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

{{ 'nt_slideshow.css' | asset_url | stylesheet_tag }}

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<div class="swiper-container nt_custom_{{section.id}} color-scheme-{{ section.settings.text_color }}{% if section.settings.use_container %} container{% else %} nt-full{% endif -%}">
    <div class="swiper-wrapper nt-carousel  nt_slick_op">
      {%- for block in section.blocks -%}
      <div class="swiper-slide slick-item-wrap">
        {%- assign image = block.settings.image -%}
        <div class="nt_banner_img nt_banner_img_{{ block.id }} bg_overlay_{{section.settings.overlay}} {% if image != blank %}lazyload {% if forloop.first == false %} js lazypreload{% endif %}{% endif %}" {% if image != blank %}data-bgset="{% include 'nt_bgset', image: block.settings.image %}" data-sizes="auto" data-parent-fit="cover"{% endif %}{% if image != blank and section.settings.use_custom_img == false %} style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;"{% endif -%}>
           <div class="div_overlay">
               {%- assign image_mobile = block.settings.image_mobile -%}
               {%- if image_mobile == blank %}
               		{%- assign image_mobile = block.settings.image -%}
               {%- endif -%}
           		<img src="{{ image_mobile | img_url: '720x' }}" />
           </div>
        </div>
        <div class="pa-center container {{block.settings.alignment}}">
           {%- if block.settings.title != blank -%}<div class="title color-scheme-{{ block.settings.text_color }}"><span>{{block.settings.title}}</span></div>{%- endif -%}
           {%- if block.settings.subheading != blank -%}<div class="subtitle color-scheme-{{ block.settings.text_color }}">{{block.settings.subheading}}</div>{%- endif -%}
           {%- if block.settings.btn_title != blank and block.settings.link != blank -%}<a href="{{block.settings.link}}" target="_blank" class="button {%- if block.settings.style_btn == '2' %} nt-button-style-2{%- else %} nt-button-style-1{%- endif -%}">{{block.settings.btn_title}}</a>{%- endif -%} 
        </div>
      </div>
      {%- endfor -%}
    </div>
    <!-- Add Arrows -->
    {%- if section.settings.use_arrows %}
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    {%- endif -%}
    <!-- Add Pagination -->
    {%- if section.settings.use_dots %}
    <div class="swiper-pagination"></div>
    {%- endif -%}
  </div>
                                  
<style>
   @media (max-width: 767px) {
     
     body,html {
       max-width: 100%;
      overflow-x: hidden !important;
     }
     
     .swiper-slide-active {}
     .swiper-slide {}
     
     div.swiper-slide > div.pa-center.container {min-height: 200px;}
     
     {%- for block in section.blocks -%}
       {%- assign image_mobile = block.settings.image_mobile -%}
       {%- if image_mobile != blank %}
       .nt_banner_img_{{block.id}} {
         background-image: url({{ image_mobile | img_url: '720x' }}) !important;
       }
       {%- endif -%}
     {%- endfor -%}
  }
</style>

{%- if section.settings.use_custom_img %}
<style>
   /*.nt_custom_{{section.id}} .nt_banner_img {background-position: top;background-repeat: no-repeat;background-size: cover; height:{{section.settings.desktop}} }
   @media (max-width: 1024px) {.nt_custom_{{section.id}} .nt_banner_img{height:{{section.settings.notebook}} }}
   @media (max-width: 778px) {.nt_custom_{{section.id}} .nt_banner_img{height:{{section.settings.tablet}} }}
   @media (max-width: 480px) {.nt_custom_{{section.id}} .nt_banner_img{height:{{section.settings.mobile}} }}*/
</style>
{%- endif -%}
                                  
<script>
  
  const swiper = new Swiper('.swiper-container', {
    // Optional parameters
    direction: 'horizontal',
    autoHeight: true,
    {%- if section.settings.use_loop %}
    loop: true,
    {%- endif -%}
       
    {%- if section.settings.use_autoplay %}
    autoplay: {
      delay: {{ section.settings.slider_speed | times: 1000 }},
      disableOnInteraction: false,
    },
    {%- endif -%}

    {%- if section.settings.use_dots %}
    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },
    {%- endif -%}
                                  
    {%- if section.settings.use_arrows %}
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    {%- endif -%}
                                  
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
                                  
  $('.swiper-slide').on('mouseover', function() {
    swiper.autoplay.stop();
  });

  $('.swiper-slide').on('mouseout', function() {
    swiper.autoplay.start();
  });
</script>
{% schema %}
  {
    "name": "NT Slideshow",
    "class": "nt-section nt_slideshow",
    "max_blocks": 10,
    "settings": [
      {
             "type": "select",
             "id": "text_color",
             "options": [
              {
                 "value": "light",
                 "label": "Light"
               },
               {
                 "value": "dark",
                 "label": "Dark"
               }
             ],
             "label": "Color Scheme Slider",
             "default": "dark"
           },
      {
        "type": "range",
        "id": "slider_speed",
        "min": 1,
        "max": 30,
        "step": 1,
        "label": "Slider speed (second)",
        "unit": "sec",
        "default": 6
      },
      {
        "type": "checkbox",
        "id": "use_dots",
        "default": false,
        "label": "Show pagination control?"
      },
       {
        "type": "checkbox",
        "id": "use_arrows",
        "default": false,
        "label": "Show prev/next buttons?"
      },
       {
        "type": "checkbox",
        "id": "use_loop",
        "default": false,
        "label": "Slider loop?",
        "info": "Enables loop mode."
      },
      {
       "type": "checkbox",
       "id": "use_autoplay",
       "label": "Slider autoplay",
       "info": "Enables autoplay mode.",
       "default": false
     }
     /*{
        "type": "header",
        "content": "Design Height Image"
      },
      {
        "type": "checkbox",
        "id": "use_custom_img",
        "label": "Use custom height image?",
        "default": false
      },
      {
        "type": "text",
        "id": "desktop",
        "label": "Desktop Large",
        "info": "475px",
        "default": "475px"
      },
      {
        "type": "text",
        "id": "notebook",
        "label": "Notebook (1024px)",
        "info": "485px",
        "default": "485px"
      },
      {
        "type": "text",
        "id": "tablet",
        "label": "Tablet (778px)",
        "info": "600px",
        "default": "600px"
      },
      {
        "type": "text",
        "id": "mobile",
        "label": "Mobile (480px)",
        "info": "600px",
        "default": "600px"
      },
     {
        "type": "header",
        "content": "Design Options"
      },
      {
        "type": "checkbox",
        "id": "use_container",
        "label": "Use container?",
        "default": false
      },
      {
        "type": "range",
        "id": "overlay",
        "label": "Background overlay",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_top",
        "label": "Padding top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_right",
        "label": "Padding right",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_bottom",
        "label": "Padding bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_left",
        "label": "Padding left",
        "info": "60px"
      },
     {
        "type": "header",
        "content": "Design Mobile Options"
      },
      {
        "type": "text",
        "id": "section_margin_top_mb",
        "label": "Margin top",
        "info": "20px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom_mb",
        "label": "Margin bottom",
        "info": "20px"
      },
      {
        "type": "text",
        "id": "section_padding_top_mb",
        "label": "Padding top",
        "info": "20px"
      },
      {
        "type": "text",
        "id": "section_padding_right_mb",
        "label": "Padding right",
        "info": "20px"
      },
      {
        "type": "text",
        "id": "section_padding_bottom_mb",
        "label": "Padding bottom",
        "info": "20px"
      },
      {
        "type": "text",
        "id": "section_padding_left_mb",
        "label": "Padding left",
        "info": "60px"
      }*/
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Desktop Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Text alignment",
            "default": "tl",
            "options": [
              {
                "value": "tl",
                "label": "Left"
              },
              {
                "value": "tc",
                "label": "Center"
              },
              {
                "value": "tr",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Looking for<br> the best price"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "SKINN Store"
          },
          {
             "type": "select",
             "id": "text_color",
             "options": [
              {
                 "value": "light",
                 "label": "Light"
               },
               {
                 "value": "dark",
                 "label": "Dark"
               }
             ],
             "label": "== Color Scheme",
             "default": "dark"
           },
          {
            "type": "text",
            "id": "btn_title",
            "label": "Slide button title",
            "default":"SHOP NOW"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link",
            "default": "/"
          },
          {
            "type": "select",
            "id": "style_btn",
            "label": "Button Style",
            "default": "1",
            "options": [
              {
                "value": "1",
                "label": "Style 1"
              },
              {
                "value": "2",
                "label": "Style 2"
              }
            ]
          }
        ]
      }
    ],
    "presets": [{
      "name": "NT Slideshow",
      "category": "Sliders",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}