<div id="story_timeline" style="background-color: {{ section.settings.bg_color }}">
  <div class="row">
    <div class="col-12 col-md-7 left_beakers">
      {% assign img = section.settings.left_image | img_url: '100x100' %}
      {% assign img_lazy = img | replace: '_100x100', '_{width}x' %}
      <img
          src="{{ img }}"
          data-src="{{ img_lazy }}"
          data-sizes="auto"
          class="lazyload" 
          alt="{{ section.settings.left_image.alt }}"
          data-widths="[720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ section.settings.left_image.aspect_ratio }}"
      />
    </div>
    <div class="col-12 col-md-5 timeline">
      <h4>{{ section.settings.title }}</h4>
      
      <div class="timeline_wrap">
        {% for block in section.blocks %}
          <div class="timeline_piece">
            <div class="dot"></div>
            <div class="timeline_text">
              <p class="year">{{ block.settings.title }}</p>
              <p class="description">{{ block.settings.content }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    function isVisible($el) {
      var winTop = $(window).scrollTop();
      var winBottom = winTop + $(window).height();
      var elTop = $el.offset().top;
      var elBottom = elTop + $el.height();
      return ((elBottom<= winBottom) && (elTop >= winTop));
    }
    
    $(window).scroll(function() {
      const $el = $('.timeline_piece');
      
      $el.each(function( ) {
        if(isVisible($( this ))) {
          $(this).addClass('active');
        } else {
          $(this).removeClass('active');
        }
      });

    });
  })
  </script>
  
{% schema %}
{
  "name": "Timeline",
  "settings": [{
    "id": "title",
    "label": "Title",
    "type": "text",
    "default": "<span class='sakura'>Our</span> Timeline"
  }, {
    "type": "image_picker",
    "label": "Left Image",
    "id": "left_image"
  }, {
    "type": "color",
    "label": "Background Color",
    "id": "bg_color",
    "default": "#e5f3fb"
  }],
  "blocks": [{
    "name": "Timeline Year",
    "type": "year",
    "settings": [{
      "id": "title",
      "label": "Year",
      "type": "text"
    }, {
      "id": "content",
      "label": "Content",
      "type": "textarea"
    }]
  }]
}
{% endschema %}
