{% for collection in collections %}
  {%- comment %}<locksmith:b84e>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
  {%- comment %}</locksmith:b84e>{% endcomment -%}
  {% unless collection.handle == 'frontpage' %}
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
    <a href="{{ collection.url }}">More {{ collection_title }} &rsaquo;</a>
    {% for product in collection.products limit:5 %}
      {%- comment %}<locksmith:bbcb>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:bbcb>{% endcomment -%}
      {% assign grid_item_width = 'large--one-fifth medium--one-half' %}
      <div>
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        {{ product.price | money }}
        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
        <a href="{{ product.url | within: collection }}">
          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
      </div>
    {% endfor %}
  {% endunless %}
{% endfor %}
